<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjxw.mapper.AuthorsMapper">
    <resultMap id="BaseResultMap" type="com.yjxw.model.AuthorsEntity">
        <id column="author_id" jdbcType="BIGINT" property="authorId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="bio" jdbcType="CLOB" property="bio"/>
        <result column="profile_picture_url" jdbcType="VARCHAR" property="profilePictureUrl"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        `author_id`, `name`, `email`, `bio`, `profile_picture_url`, `created_at`, `updated_at`
    </sql>

</mapper>